@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<!-- Page Title
 ================================================== -->
<div id="page-title">

    <div class="row">

        <div class="ten columns centered text-center">
            <h1>About Me<span>.</span></h1>

            <p> </p>
        </div>

    </div>

</div> <!-- Page Title End-->
<!-- Content
================================================== -->
<div class="content-outer">

    <div id="page-content" class="row page">

        <div id="primary" class="eight columns">

            <section>

                <h1>Colleagues and Classmates.</h1>

                <p class="lead">As a graduate of Centriq Training Full Stack Web Development program our fellow students have become an essential part of our success as a team. </p>



                <div class="row">

                    <div id="team-wrapper" class="bgrid-halves cf">

                        <div class="column member align-center">

                            <img src="~/images/britandI.jpg" alt="" />

                            <div class"member-name">
                                <h5>Jesse Galloway</h5>
                                <span>Full Stack Web Developer</span>
                            </div>

                            <p>Jesse comes from a career background in Nursing, specifically long-term-care. His dive into developemnt and code started as an interest that quickly began to look more like a hobby. After after 12 years as a health care worker, the last 5 as an licensed nurse, he began his formal training in Development.   </p>

                            <ul class="member-social">
                                <li><a href="https://www.facebook.com/jesse.galloway.904"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="~/https://www.linkedin.com/in/jesse-galloway-02b082261/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="~/https://github.com/JessGalloway"><i class="fa fa-github"></i></a></li>
                            </ul>

                        </div>

                        <div class="column member align-center">

                            <img src="~/images/31531511_10215730209785768_5273962162925076480_n.jpg" alt="Dawson Meir Photo" />

                            <div class"member-name">
                                <h5>Dawson Meier</h5>
                                <span>Full Stack Web Developer</span>
                            </div>

                            <p>Fellow Graduate of Centriq training. Dawsons interest in Development has been encouraged by his father, who is a professional in the field. From working on his personal projects to school and gaming with friends his skills and intillegent problem solving abilities are essential to any team he's becomes a part of. </p>

                            <ul class="member-social">
                                <li><a href="~/https://github.com/DMeier12"><i class="fa fa-github"></i></a></li>

                                <li><a href="~/ https://www.linkedin.com/in/dawson-meier-b9781a238?trk=people-guest_people_search-card"><i class="fa fa-linkedin"></i></a></li>

                            </ul>

                        </div>

                        <div class="column member align-center">

                            <img src="~/images/Nick.jpg" alt="nick lookin like a baller" id="nick" />

                            <div class"member-name">
                                <h5>Nick Sachau</h5>
                                <span>Full Stack Web Developer</span>
                            </div>

                            <p>Nick's interest in computers began early in life. He began to translate that interest into learning code in his highschool career where he completed a two year web development course, for college credit, before graduating. As a collegue he is more than willing to share his knowledge and help with what he can. He's a true asset to the team and always takes his roles seriously.</p>

                            <ul class="member-social">
                                
                                <li><a href="~/https://github.com/Nick-Sachau"><i class="fa fa-github"></i></a></li>
                                <li><a href="~/https://www.linkedin.com/in/nick-sachau-6a5210212/"><i class="fa fa-linkedin"></i></a></li>

                            </ul>

                        </div>

                       

                       @* <div class="column member align-center">

                            <img src="~/images/team/team-img-03.jpg" alt="" />

                            <div class"member-name">
                                <h5>Jefferie Nickens</h5>
                                <span>Full Stack Web Developer</span>
                            </div>

                            <p>Jeffrie comes from a career background in banking, specifically finicial advisory. His interest in developemnt and code originate in his drive to tinker. Excellent communication skills are a must for all professionals and Jefferie has just that. His ability to critically assess problems and communicate that assessment clearly and concisely is just one of the benifits he provides to his team.   </p>

                            <ul class="member-social">
                                <li><a href="~/#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="~/#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="~/#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="~/#"><i class="fa fa-skype"></i></a></li>
                            </ul>

                        </div>*@

                    </div> <!-- Team wrapper End -->

                </div> <!-- row End -->

            </section> <!-- section end -->

        </div> <!-- primary end -->

        <div id="secondary" class="four columns end">

            <aside id="sidebar">

                <!-- <div class="widget widget_search">
                   <h5>Search</h5>
                   <form action="#">

                      <input class="text-search" type="text" onfocus="if (this.value == 'Search here...') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search here...'; }" value="Search here...">
                      <input type="submit" class="submit-search" value="">

                   </form>
                </div> -->

                <div class="widget widget_text">
                    <h5 class="widget-title">Jesse Galloway</h5>
                    <div class="textwidget">
                        Hi, I'm Jesse. I'm father of 3 beautiful children, 2 daughters and a son. My wife and I have been married 6 years and together for 9. For me everyday is an opportunity to learn, grow, and become a better father, husband, proffessional, and version of myself. 
                        <p></p>
                          For me every new rabbit hole or interesting niche to explore is another exciting adventure to have. Personally, as a growing professional and person, acquiring new skills and insights are just as fun they are rewarding. I love to read and acquire new skills and insights. Naturally programming and tech have been extremely rewarding. The deeper we plunge the wider the depths become and the greater the adventure gets!  
                        <p></p>
                          Learning one and others values is extremely important in my home. Personally, my experience prioritizes consistency, compassion, and congnizance. As a nurse, consistency was embedded in the years of commitment to my employer, coworkers and patients. My role as a nurse taught me true compassion and also revealed that our most prominent predispositions can also require just as much work attention as our least. The people I've learned most from and that have had the most good to share, the most character, have a certain degree of self awareness and empathy. I believe that a person can only be as aware of others as they are of themselves and that that is certainly not easy but it is absolutely worth it.  @*'  I began my Professional career with a company in 2011 and have continued throughout multiple certification and Technical programs including the time spent at Centriq Training. Currently, I have a CNA, CMT, LPN, all certifications or licenses are obtained via course hours and test score standards established by the Missouri State Board of Nursing.*@
                    </div>
                </div>

                <div class="widget widget_contact">
                    <h5>Address and Phone</h5>
                    <p class="address">
                        <br>
                        Concordia, Missouri 64020 <br>
                        <br>
                        <span>(660) 383-2569 </span>
                    </p>

                    <h5>Email and Social</h5>
                    <p>
                        E-mail: jessGalloway23@@outlook.com<br>
                        Linked-in: <a href="~/https://www.linkedin.com/in/jesse-galloway-02b082261/">@@Linked-in</a><br>
                        Facebook: <a href="~/https://www.facebook.com/jesse.galloway.904">Jesse Galloway</a><br>
                        Github: <a href="~/https://github.com/JessGalloway">github.com</a>
                    </p>
                </div>
                @*Team project photos *@
                <div class="widget widget_photostream">
                    <h5>Photostream</h5>
                    <ul class="photostream cf">
                        <li><a href="~/#"><img src="~/images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="~/#"><img src="~/images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="~/#"><img src="~/images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="~/#"><img src="~/images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="~/#"><img src="~/images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="~/#"><img src="~/images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="~/#"><img src="~/images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="~/#"><img src="~/images/thumb.jpg" alt="thumbnail"></a></li>
                    </ul>
                </div>

            </aside>

        </div> <!-- secondary End-->

    </div> <!-- page-content End-->

</div> <!-- Content End-->
<!-- Tweets Section
================================================== -->
<section id="tweets">

    <div class="row">

        <div class="tweeter-icon align-center">
            <i class="fa fa-linkedin"><a target="_blank" href="https://www.linkedin.com/in/jesse-galloway-02b082261/"></a></i>
        </div>

        <ul id="twitter" class="align-center">
            <li>
                <span>
                    Come check out my Linked-in or Github profiles. I'm always looking to connect with new people and learn new things. The profiles of my classmates are also worth checking out.
                    <a href="~/https://www.linkedin.com/in/jesse-galloway-02b082261/"></a>
                </span>
                <b><a href="~/https://github.com/JessGalloway"></a></b>
            </li>
            <!--
            <li>
               <span>
               This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
               Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
               <a href="#">@*http://t.co/CGIrdxIlI3*@</a>
               </span>
               <b><a href="#">3 Days Ago</a></b>
            </li>
            -->
        </ul>

        <p class="align-center"><a href="~/https://www.linkedin.com/in/jesse-galloway-02b082261/" class="button">Linked in</a></p>

    </div>

</section> <!-- Tweet Section End-->
