@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Portfolio";
}


<!-- Page Title
================================================== -->
<div id="page-title">
    <div class="row">
        <div class="ten columns centered text-center">
            <h1>Our Amazing Works<span>.</span></h1>

            <p>NEW PROJECTS COMING SOON!</p>
        </div>
    </div>
</div>
<!-- Page Title End-->
<!-- Content
================================================== -->
<div class="content-outer">
    <div id="page-content" class="row portfolio">
        <section class="entry cf">
            <div id="secondary" class="four columns entry-details">
                <h1>Live Projects Coming soon.</h1>

                <div class="entry-description">
                    <p>
                        Hard at work learning and exercising new skills to show off
                        here.
                    </p>
                </div>

                <ul class="portfolio-meta-list">
                    <li><span>Date: </span>March 2023</li>
                    <!-- <li><span>Client </span></li> -->
                    <!-- <li><span>Skills: </span></li> -->
                </ul>

                <a href="~/http://behance.net" target="_blank" class="button">View project</a>
            </div>
            <!-- secondary End-->

            <div id="primary" class="eight columns">
                <div class="entry-media">
                    <img src="~/images/portfolio/entries/geometric-backgrounds-01.jpg"
                         alt="" />

                    <img src="~/images/portfolio/entries/geometric-backgrounds-02.jpg"
                         alt="" />
                </div>

                <div class="entry-excerpt">
                    <p></p>
                </div>
            </div>
            <!-- primary end-->
        </section>
        <!-- end section -->

        <ul class="post-nav cf">
            <li class="prev">
                <a href="~/#" rel="prev"><strong>Previous Entry</strong> </a>
            </li>
            <li class="next">
                <a href="~/#" rel="next"><strong>Next Entry</strong> </a>
            </li>
        </ul>
    </div>
</div>
<!-- content End-->
<!-- Tweets Section
================================================== -->
<section id="tweets">
    <div class="row">
        <div class="tweeter-icon align-center">
            <i class="fa fa-github"></i>
        </div>

        <ul id="twitter" class="align-center">
            <li>
                <span>
                    Thanks for visiting
                    <a href="~/#"></a>
                </span>
                <b><a href="~/#"></a></b>
            </li>
            <!--
              <li>
                 <span>
                 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                 Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
                 <a href="#">http://t.co/CGIrdxIlI3</a>
                 </span>
                 <b><a href="#">3 Days Ago</a></b>
              </li>
              -->
        </ul>

        <p class="align-center"><a href="~/#" class="button">Follow us</a></p>
    </div>
</section>
<!-- Tweet Section End-->
