@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Styles";
}

<!-- Page Title
================================================== -->
<div id="page-title">
    <div class="row">
        <div class="ten columns centered text-center">
            <h1>Resume<span>.</span></h1>

            <p></p>
        </div>
    </div>
</div>
<!-- Page Title End-->
<!-- Content
================================================== -->
<section id="tweets">
    <div class="row">
        <div class="tweeter-icon align-center">
        </div>

        <ul id="twitter" class="align-center">
            <li>
                <span>
                    Download Resume.

                </span>
                <b><a href="~/#"></a></b>
            </li>
            <!--
              <li>
                 <span>
                 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                 Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
                 <a href="#">http://t.co/CGIrdxIlI3</a>
                 </span>
                 <b><a href="#">3 Days Ago</a></b>
              </li>
              -->
        </ul>

        <p class="align-center"><a href="wwwroot/DOCS/Resume.docx" class="button">Download</a></p>
    </div>
</section>
<div class="content-outer">
    <div id="page-content">
        <div class="row add-bottom">
            <div class="twelve columns" style="padding-top: 24px">
                <h1 class="title-heading text-center">Jesse Galloway.</h1>

                <p class="lead add-bottom text-center">
                    jessgalloway23@gmail.com | 660-383-2569 | jessgalloway.com
                    <br> https://www.linkedin.com/in/jesse-galloway
                </p>
                <h2 class="text-center">Full Stack Web Developer</h2>
                <hr />
                <div class="text-center">
                    <ul class="side-list">
                        <li>.Net Core MVC Framework</li>
                        <li>Fulll Stack Web Application Design</li>
                        <li>C# Programming</li>
                        <li>JavaScript</li>
                    </ul>
                    <ul class="side-list">
                        <li>Database Management SQL</li>
                        <li>Unit Testing</li>
                        <li>Software Development Lifecycle</li>
                        <li>Agile Scrum Methodology</li>
                    </ul>
                </div>
                <hr />
                <h3 class="text-center">
                    Professional skills
                </h3>
                <ul>
                    <li><span><span class="tite">Front End:</span> HTML5, JavaScript,  jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS</span></li>
                    <li><span><span class="tite">Middle Tier:</span> C#, .NET Core MVC, LINQ, EF, Razor Pages</span></li>
                    <li><span><span class="tite">Back End:</span> ADO.NET, SQL, SQL Server</span></li>
                    <li><span><span class="tite">Tools:</span> Azure Data Studio, Visual Studio, Visual Studio Code, SSMS, Git Bash</span></li>
                    <li><span><span class="tite">Professional Skills:</span> Troubleshooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork, Pair Programming</span></li>
                </ul>
                <hr />
                <h3 class="text-center">
                    Independent developemnt Projects
                </h3>
                <ul>
                    <li><span><span class="tites">Personal Site:</span> Bootstrap, HTML, CSS</span></li>
                    <li><span><span class="tites">StoreFront:</span> Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data.</span></li>
                    <li><span><span class="tites">S.A.T. Scheduling Administration Tool:</span> Created a secure application for managing product data. Application is built to simulate an online class scheduling system.  Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.</span></li>
                </ul>

                <hr />
                <h3 class="text-center">
                    Technical Training
                </h3>
                <p class="training-info"><span class="program">Full Stack Coding Program, Centriq Kansas City, Missouri</span><span class="grad-date">Anticipated Graduation: 03/2023</span></p>
                <ul>
                    <li>.Net Core MVC Framework</li>
                    <li>Troubleshooting & debugging</li>
                    <li>Source Control</li>
                    <li>Agile/Scrum (Created Team Project)</li>
                    <li>Website Deployment</li>
                    <li>Pair Programming</li>
                    <li>Code Review</li>
                </ul>

                <hr />
                <h3 class="text-center">Work Experience</h3>
                <h5 class="text-center">
                    Liscensed Practical Nurse
                    </h5>
                    <p class="training-info"><span class="program">LGSH, Concordia, Missouri</span><span class="work-date">01/2011 - current</span></p>
                    <ul class="work">
                        <li>•	Started as a Nursing Assistant in 2011 within the first year became certified and began working as a Certified Nursing Assistant</li>
                        <li>•	In 2013 the facility sent me to a CMT program at UCM in Warrensburg, Missouri </li>
                        <li>•	In 2017 I graduated from the Lex La Ray Technical Center Practical Nursing Program</li>
                        <li class="work">
                            •	In the nursing program my peers anonymously selected me as their President. In that
                            Capacity I assisted in the Planning of our graduation event and took with our VP to lead weekly class meeting to hold votes and discuss group decisions.
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>
<!-- Content End-->
<!-- Tweets Section
================================================== -->

<!-- Tweet Section End-->

